---
Checks:             >
                    bugprone-*,
                      -bugprone-branch-clone,
                      -bugprone-casting-through-void,
                      -bugprone-derived-method-shadowing-base-method,
                      -bugprone-easily-swappable-parameters,
                      -bugprone-empty-catch,
                      -bugprone-exception-copy-constructor-throws,
                      -bugprone-implicit-widening-of-multiplication-result,
                      -bugprone-inc-dec-in-conditions,
                      -bugprone-macro-parentheses,
                      -bugprone-narrowing-conversions,
                      -bugprone-reserved-identifier,
                      -bugprone-return-const-ref-from-parameter,
                      -bugprone-signed-bitwise,
                      -bugprone-suspicious-include,
                      -bugprone-switch-missing-default-case,
                      -bugprone-throwing-static-initialization,
                      -bugprone-unchecked-string-to-number-conversion,
                      -bugprone-unhandled-code-paths,
                      -bugprone-unsafe-functions,
                    clang-analyzer-*,
                      -clang-analyzer-core.NullPointerArithm,
                      -clang-analyzer-optin.cplusplus.VirtualCall,
                      -clang-analyzer-security.ArrayBound,
                      -clang-analyzer-security.VAList,
                    cppcoreguidelines-*,
                      -cppcoreguidelines-avoid-c-arrays,
                      -cppcoreguidelines-avoid-const-or-ref-data-members,
                      -cppcoreguidelines-avoid-do-while,
                      -cppcoreguidelines-avoid-magic-numbers,
                      -cppcoreguidelines-avoid-non-const-global-variables,
                      -cppcoreguidelines-explicit-constructor,
                      -cppcoreguidelines-explicit-virtual-functions,
                      -cppcoreguidelines-init-variables,
                      -cppcoreguidelines-interfaces-global-init,
                      -cppcoreguidelines-macro-usage,
                      -cppcoreguidelines-narrowing-conversions,
                      -cppcoreguidelines-no-malloc,
                      -cppcoreguidelines-noexcept-move-operations,
                      -cppcoreguidelines-noexcept-swap,
                      -cppcoreguidelines-non-private-member-variables-in-classes,
                      -cppcoreguidelines-owning-memory,
                      -cppcoreguidelines-prefer-member-initializer,
                      -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                      -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
                      -cppcoreguidelines-pro-bounds-constant-array-index,
                      -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                      -cppcoreguidelines-pro-type-cstyle-cast,
                      -cppcoreguidelines-pro-type-member-init,
                      -cppcoreguidelines-pro-type-reinterpret-cast,
                      -cppcoreguidelines-pro-type-static-cast-downcast,
                      -cppcoreguidelines-pro-type-vararg,
                      -cppcoreguidelines-rvalue-reference-param-not-moved,
                      -cppcoreguidelines-special-member-functions,
                      -cppcoreguidelines-use-default-member-init,
                      -cppcoreguidelines-use-enum-class,
                    misc-*,
                      -misc-const-correctness,
                      -misc-definitions-in-headers,
                      -misc-explicit-constructor,
                      -misc-include-cleaner,
                      -misc-no-recursion,
                      -misc-non-private-member-variables-in-classes,
                      -misc-override-with-different-visibility,
                      -misc-static-initialization-cycle,
                      -misc-uniqueptr-reset-release,
                      -misc-unused-parameters,
                      -misc-use-anonymous-namespace,
                    modernize-*,
                      -modernize-avoid-c-arrays,
                      -modernize-avoid-c-style-cast,
                      -modernize-avoid-variadic-functions,
                      -modernize-concat-nested-namespaces,
                      -modernize-deprecated-headers,
                      -modernize-make-shared,
                      -modernize-make-unique,
                      -modernize-pass-by-value,
                      -modernize-return-braced-init-list,
                      -modernize-type-traits,
                      -modernize-use-auto,
                      -modernize-use-bool-literals,
                      -modernize-use-default-member-init,
                      -modernize-use-equals-default,
                      -modernize-use-nodiscard,
                      -modernize-use-noexcept,
                      -modernize-use-nullptr,
                      -modernize-use-override,
                      -modernize-use-trailing-return-type,
                      -modernize-use-transparent-functors,
                      -modernize-use-using,
                    performance-*,
                      -performance-avoid-endl,
                      -performance-enum-size,
                      -performance-faster-string-find,
                      -performance-move-const-arg,
                      -performance-noexcept-move-constructor,
                      -performance-noexcept-swap,
                      -performance-prefer-single-char-overloads,
                      -performance-unnecessary-copy-initialization,
                      -performance-unnecessary-value-param,
                    portability-*,
WarningsAsErrors:   '*'
HeaderFilterRegex:  '.*'
FormatStyle:        file
CheckOptions:
  - key:            modernize-use-default-member-init.UseAssignment
    value:          1
# ExcludeHeaderFilterRegex: '.*/src/C\+\+/double-conversion/.*'
...
